In [1]:
import yfinance as yf
import investpy
import pandas as pd
import talib
import datetime as dt
import numpy as np
import talib as ta

In [2]:
nifty50list='https://www1.nseindia.com/content/indices/ind_nifty50list.csv'
nifty50listdf=pd.read_csv(nifty50list)
nifty50list=nifty50listdf['Symbol'].to_list()
nifty50=[i+'.NS' for i in nifty50list]

nifty500list='https://www1.nseindia.com/content/indices/ind_nifty500list.csv'
nifty500listdf=pd.read_csv(nifty500list)
nifty500list=nifty500listdf['Symbol'].to_list()
nifty500=[i+'.NS' for i in nifty500list]

In [4]:
#nifty500list

In [6]:
def get_investpy_symbol(isin):
    return invdf[(invdf['isin']==isin)]['symbol'].iloc[0]
#get_investpy_symbol('INE647Z01017')

# Get the 
def add_investpy_symbol(df_row):
    try:
        invpy_symbol=get_investpy_symbol(df_row['ISIN Code'])    
    except:
        invpy_symbol='NoSymbol'
    return invpy_symbol
add_investpy_symbol(nifty500listdf.iloc[3])

'NoSymbol'

In [8]:
invdf=investpy.stocks.get_stocks('india')

In [10]:
nifty500listdf['invpy_symbol']=nifty500listdf.apply(add_investpy_symbol,axis=1)
#nifty500listdf[(nifty500listdf['invpy_symbol']=='NoSymbol')]
nifty500listdf

,Company Name,Industry,Symbol,Series,ISIN Code,invpy_symbol
0,3M India Ltd.,CONSUMER GOODS,3MINDIA,EQ,INE470A01017,TMIN
1,ABB India Ltd.,INDUSTRIAL MANUFACTURING,ABB,EQ,INE117A01022,ABB
2,ABB Power Products and Systems India Ltd.,INDUSTRIAL MANUFACTURING,POWERINDIA,EQ,INE07Y701011,NoSymbol
3,ACC Ltd.,CEMENT & CEMENT PRODUCTS,ACC,EQ,INE012A01025,ACC
4,AIA Engineering Ltd.,INDUSTRIAL MANUFACTURING,AIAENG,EQ,INE212H01026,AIAE
...,...,...,...,...,...,...
496,Yes Bank Ltd.,FINANCIAL SERVICES,YESBANK,EQ,INE528G01035,NoSymbol
497,Zee Entertainment Enterprises Ltd.,MEDIA ENTERTAINMENT & PUBLICATION,ZEEL,EQ,INE256A01028,ZEE
498,Zensar Technolgies Ltd.,IT,ZENSARTECH,EQ,INE520A01027,ZENT
499,Zydus Wellness Ltd.,CONSUMER GOODS,ZYDUSWELL,EQ,INE768C01010,ZYDS
500,eClerx Services Ltd.,IT,ECLERX,EQ,INE738I01010,ECLE